
//font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
//color scheme
$main-black: #06080f;
$main-white: #f5f5f5;
$main-red: #cc2936;
$main-yellow: #ffb800;
$main-blue: #2364aa;


//first page variables
//polaroid background
$img-back-top: 42%;
$img-back-left: 6vw;
$img-back-width: 23vw;
$img-backheight: 75vh;
$rect-height: 0;

//polaroid image

//body & html

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: black;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  height: 100vh;
  width: 100%; 
  position: relative;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
//import
@import "navbar";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  $rect-height: 2.5vw;

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  $rect-height: 2.5vw;

  .picture-txt {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3rem;
    color: $main-black; 
    width: 23vw;
    position: absolute;
    bottom: 19vh;
    z-index: 20;
    opacity: 0;
    font-weight: bold;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  $rect-height: 2.5vw;

 
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

$rect-height: 2.5vw;

}



@media (min-width: 1400px) {
  .picture-txt {
    font-family: monospace;
    text-align: center;
    font-size: 3rem;
    color: $main-black; 
    width: 23vw;
    position: absolute;
    bottom: 22vh;
    z-index: 20;
    opacity: 0;
  }

 }


//individual containers

section {
  overflow: visible;
}

//section 1
#section1 {
  background-color: $main-black;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.s1-p1 {
  width: 50vw;
  height: 100vh;
}

.s1-intro {
  width: 50%;
  color: $main-white;
  font-family: 'Inter', sans-serif;
  text-align:justify;
  margin-left: -0.5vw;
  position: absolute;
  top: 8vh;
  left: 6.5vw;
  opacity: 1;
  height: 20vh;
  font-size: 10vw;
}

.s1-intro-right {
  width: 50%;
  color: $main-black;
  font-family: 'Inter', sans-serif;
  text-align: left;
  position: absolute;
  top: 8vh;
  left: 50vw;
  padding-left: 5.5vw;
  opacity: 1;
  height: 20vh;
  font-size: 10vw;
  left: unset;
}

.s1-sub-intro {
  margin: auto;
  width: 37vw;
  color: $main-black;
  font-family: 'Inter', sans-serif;
  text-align:left;
  position: absolute;
  top: 48vh;
  right: 6.5vw;
  height: 30vh;
  opacity:1;
  font-size: 3vw;
  //margin-right: -0.5vw;
  //padding-right: 3vw;
  //border
  //border-bottom: 2px solid $main-black;
  //border-right: 2px solid $main-black;
}

.my-picture {
  margin: auto;
  width: 19vw;
  height: auto;
  top: 52vh;
  position: absolute;
  z-index: 12;
  left: 7.5vw;
  opacity: 0;
}
  .s1-p2 {
    width: 50%;
    height: 100%;
    background-color: $main-white;
   
  }

.picture-background {
  position: absolute;
  top: 55vh;
  left: 6.5vw;
  margin: auto;
  width: 0vw;
  height: 60vh;
  z-index: 11;
  background-color: $main-white;
  opacity: 0;
}




//section 2
#section2 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.s2-p1 {
  width: 50vw;
  height: 100%;
}

.s2-p2 {
  width: 50vw;
  height: 100%;
  background-color: $main-black;
  right: 0vw;
  top: 0;
  position: absolute;
  opacity: 0;
}

.intro-2 {
  top: 10vh;
  left: 6vw;
  font-size: auto;
  width: 38vw;
  position: absolute;
  color: #06080f;
  font-family: 'Inter', sans-serif;
  z-index: 1;
}

.my-picture2 {
  margin: auto;
  width: 20vw;
  height: auto;
  top: 0vh;
  position: absolute;
  z-index: 12;
  left: 7.5vw;
  opacity: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  $rect-height: 2.5vw;

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  $rect-height: 2.5vw;
  
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  $rect-height: 2.5vw;
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
$rect-height: 2.5vw;

}

//section 3
#section3 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

//section 4
#section4 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

//section 5
#section5 {
  background-color: $main-black;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.s5-p1 {
  position: absolute;
  top: 0;
  left: 50vw;
  height: 100%;
  width: 50vw;
  margin: auto;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  color: $main-white;
}

.s5-p1 a {
  text-decoration: none;
  color: $main-white;
  font-size: 6vw;
}
.lets-connect {
  font-size: 3vw;
  writing-mode: vertical-lr;
}
.li-logo {
  padding-left: 3vw;
}
.gh-logo {
  padding-left: 6vw;
}
.fb-logo {
  padding-left: 9vw;
}

//used for the observer API
.dot {
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 1vh;
  right: 2vh;
  z-index: 30;
}

.dot.s2-dot{
 
  top: 1vh;
  left: 2vh;
}

