
//font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
//color scheme
$main-black: #06080f;
$main-white: #f5f5f5;
$main-red: #cc2936;
$main-yellow: #ffb800;
$main-blue: #2364aa;


//first page variables
//polaroid background
$img-back-top: 42%;
$img-back-left: 6vw;
$img-back-width: 23vw;
$img-backheight: 75vh;
$rect-height: 0;

//polaroid image

//body & html

body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: black;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  height: 100vh;
  width: 100%; 
  position: relative;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

//import
@import "navbar";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  $rect-height: 2.5vw;

  //rectangles
  .s1-rectangle {
    width: $rect-height;
    z-index: 15;
    position: absolute;
  }
  #b1 {
    right: 6vw;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1 {
    right: 6vw+$rect-height*2;
    height: $rect-height*9;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1 {
    right: 6vw+$rect-height*4;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1 {
    right: 6vw+$rect-height*6;
    height: $rect-height*7;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w3 {
    right: 6vw+$rect-height*10;
    height: $rect-height*5;
    width: $rect-height;
    background-color: $main-white;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  $rect-height: 2.5vw;

  #b1 {
    right: 6vw;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1 {
    right: 6vw+$rect-height*2;
    height: $rect-height*9;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1 {
    right: 6vw+$rect-height*4;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1 {
    right: 6vw+$rect-height*6;
    height: $rect-height*7;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w3 {
    right: 6vw+$rect-height*10;
    height: $rect-height*5;
    width: $rect-height;
    background-color: $main-white;
  }
  .picture-txt {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3rem;
    color: $main-black; 
    width: 23vw;
    position: absolute;
    bottom: 19vh;
    z-index: 20;
    opacity: 0;
    font-weight: bold;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  $rect-height: 2.5vw;

  #b1 {
    right: 6vw;
    height: $rect-height*16;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1 {
    right: 6vw+$rect-height*2;
    height: $rect-height*14;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1 {
    right: 6vw+$rect-height*4;
    height: $rect-height*12;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1 {
    right: 6vw+$rect-height*6;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-white;
  }
  
  #w3 {
    right: 6vw+$rect-height*10;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-white;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

$rect-height: 2.5vw;
#b1 {
  right: 6vw;
  height: $rect-height*14;
  width: $rect-height;
  background-color: $main-blue;
}


#y1 {
  right: 6vw+$rect-height*2;
  height: $rect-height*12;
  width: $rect-height;
  background-color: $main-yellow;
}

#r1 {
  right: 6vw+$rect-height*4;
  height: $rect-height*10;
  width: $rect-height;
  background-color: $main-red;
}

#w1 {
  right: 6vw+$rect-height*6;
  height: $rect-height*8;
  width: $rect-height;
  background-color: $main-white;
}

#w2 {
  right: 6vw+$rect-height*8;
  height: $rect-height*6;
  width: $rect-height;
  background-color: $main-white;
}

#w3 {
  right: 6vw+$rect-height*10;
  height: $rect-height*4;
  width: $rect-height;
  background-color: $main-white;
}


}
@media (min-width: 1400px) {
  .picture-txt {
    font-family: monospace;
    text-align: center;
    font-size: 3rem;
    color: $main-black; 
    width: 23vw;
    position: absolute;
    bottom: 22vh;
    z-index: 20;
    opacity: 0;
  }

 }


//individual containers

section {
  
  overflow: visible;
}

//section 1
#section1 {
  background-color: $main-black;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.s1-p1 {
  width: 50vw;
  height: 100vh;
}

.s1-intro {
  width: 40vw;
  color: $main-white;
  font-family: 'Inter', sans-serif;
  text-align:justify;
  margin-left: -0.5vw;
  position: absolute;
  top: 8vh;
  left: 6.5vw;
  opacity: 0;
  height: 20vh;
}

.s1-sub-intro {
  margin: auto;
  width: 40vw;
  color: $main-white;
  font-family: 'Inter', sans-serif;
  text-align:justify;
  position: absolute;
  top: 37vh;
  left: 6.5vw;
  height: 10vh;
  opacity: 0;
}

.my-picture {
  margin: auto;
  width: 19vw;
  height: auto;
  top: 52vh;
  position: absolute;
  z-index: 12;
  left: 7.5vw;
  opacity: 0;
}
  .s1-p2 {
    width: 50%;
    height: 100%;
   
  }

.picture-background {
  position: absolute;
  top: 55vh;
  left: 6.5vw;
  margin: auto;
  width: 17vw;
  height: 60vh;
  z-index: 11;
  background-color: $main-white;
}

//rectangles
.s1-rectangle {
  position: absolute;
  opacity: 1;
  z-index: 11;
  bottom: 0;
}




//section 2
#section2 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.s2-p1 {
  width: 50vw;
  height: 100%;
}



.s2-rectangle {
  position: absolute;
  opacity: 0;
  z-index: 10;
  top: -50vh ;
}

.s2-p2 {
  width: 50vw;
  height: 100%;
}

.intro-2 {
  top: 10vh;
  left: 6vw;
  font-size: 10rem;
  position: absolute;
  color: #06080f;
  font-family: 'Inter', sans-serif;
  z-index: 1;
}

.my-picture2 {
  margin: auto;
  width: 20vw;
  height: auto;
  top: 0vh;
  position: absolute;
  z-index: 12;
  left: 7.5vw;
  opacity: 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  $rect-height: 2.5vw;

  //rectangles
  .s2-rectangle {
    width: $rect-height;
  }
  #b1-s2 {
    right: 6vw;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1-s2 {
    right: 6vw+$rect-height*2;
    height: $rect-height*9;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1-s2 {
    right: 6vw+$rect-height*4;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1-s2 {
    right: 6vw+$rect-height*6;
    height: $rect-height*7;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w2-s2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w3-s2 {
    right: 6vw+$rect-height*10;
    height: $rect-height*5;
    width: $rect-height;
    background-color: $main-black;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  $rect-height: 2.5vw;

  #b1-s2 {
    right: 6vw;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1-s2 {
    right: 6vw+$rect-height*2;
    height: $rect-height*9;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1-s2 {
    right: 6vw+$rect-height*4;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1-s2 {
    right: 6vw+$rect-height*6;
    height: $rect-height*7;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w2-s2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w3-s2 {
    right: 6vw+$rect-height*10;
    height: $rect-height*5;
    width: $rect-height;
    background-color: $main-black;
  }
  .picture-txt {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3rem;
    color: $main-black; 
    width: 23vw;
    position: absolute;
    bottom: 19vh;
    z-index: 20;
    opacity: 0;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  $rect-height: 2.5vw;

  #b1-s2 {
    right: 6vw;
    height: $rect-height*16;
    width: $rect-height;
    background-color: $main-blue;
  }
  
  
  #y1-s2 {
    right: 6vw+$rect-height*2;
    height: $rect-height*14;
    width: $rect-height;
    background-color: $main-yellow;
  }
  
  #r1-s2 {
    right: 6vw+$rect-height*4;
    height: $rect-height*12;
    width: $rect-height;
    background-color: $main-red;
  }
  
  #w1-s2 {
    right: 6vw+$rect-height*6;
    height: $rect-height*10;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w2-s2 {
    right: 6vw+$rect-height*8;
    height: $rect-height*8;
    width: $rect-height;
    background-color: $main-black;
  }
  
  #w3-s2 {
    right: 6vw+$rect-height*10;
    height: $rect-height*6;
    width: $rect-height;
    background-color: $main-black;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

$rect-height: 2.5vw;
#b1-s2 {
  right: 6vw;
  height: $rect-height*14;
  width: $rect-height;
  background-color: $main-blue;
}


#y1-s2 {
  right: 6vw+$rect-height*2;
  height: $rect-height*12;
  width: $rect-height;
  background-color: $main-yellow;
}

#r1-s2 {
  right: 6vw+$rect-height*4;
  height: $rect-height*10;
  width: $rect-height;
  background-color: $main-red;
}

#w1-s2 {
  right: 6vw+$rect-height*6;
  height: $rect-height*8;
  width: $rect-height;
  background-color: $main-black;
}

#w2-s2 {
  right: 6vw+$rect-height*8;
  height: $rect-height*6;
  width: $rect-height;
  background-color: $main-black;
}

#w3-s2 {
  right: 6vw+$rect-height*10;
  height: $rect-height*4;
  width: $rect-height;
  background-color: $main-black;
}


}

//section 3
#section3 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

//section 4
#section4 {
  background-color: $main-white;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

//section 5
#section5 {
  background-color: $main-black;
  width: 100%;
  height: 100vh;
  z-index: 2;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

//used for the observer API
.dot {
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 1vh;
  right: 2vh;
  z-index: 30;
}

.dot.s2-dot{
 
  top: 1vh;
  left: 2vh;
}

